<section class="block">
  <div class="block__header">
    <h2>What Our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, quasi.
    </p>
  </div>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image-container">
          <img
            class="testimonial__image"
            src="images/testimonial.jpg"
            alt="A
              picture of a customer"
          />
          <span class="icon-container icon-container--accent testimonial__icon">
            <svg class="icon icon--white">
              <use xlink:href="Images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo velit
            dicta tempora numquam suscipit quos mollitia itaque, officia laborum
            commodi.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--secondary quote__line">
                  <use xlink:href="Images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Jhone Lumeo</h3>
                <p class="media__content quote__company">Mosh Company ceo</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
